
#errorMessage {
    color: #C60929;
    font-size: .9em;
    font-weight: bold;
    padding-top: .3em;
}

#inputCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    width: 24em;
}

#signupInput {
    width: 95%;
}

#signupBtn {
    margin: 1em 0 0 0;
    width: 95%;
}