#errorMessage {
  color: #c60929;
  font-size: 0.9em;
  font-weight: bold;
  padding-top: 0.3em;
}

#inputCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  width: 24em;
}

#signupInput {
  width: 99%;
}

#signupBtn {
  margin: 1em 0 0 0;
  width: 99%;
}

@media only screen and (max-width: 767.98px) {
  #inputCard {
    width: 75wv;
  }
}

@media only screen and (max-width: 575.98px) {
  #inputCard {
    width: 80vw;
  }
}
