#buttonArea {
  text-align: center;
}

.buttonIcon {
  font-weight: bolder;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: 5px;
}

.text {
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

#guessArea {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 575.98px) {
  #formArea {
    width: 80vw;
  }

  #guessArea {
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }

  #buttonArea {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }

  .button {
    width: 65vw !important;
  }
}
