#mainContent {
    padding-top: 3em;
    height: 30vh;
    text-align: center;
}

.text {
    font-size: 1.5em;
    font-weight: bold;
}

#hint {
    color: #FFC00A;
    padding-top: 1.2em;
}

#ready {
    color: #66BF39
}