
#button {
    margin-top: .5em;
}

#congratSpeech {
    font-size: 1.5em;
}

#contentArea {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

#newRoundRequest {
    padding-top: 18px;
}

#title {
    padding-top: 60px;
}