
.button {
    margin-top: .5em !important;
}

#contentArea {
    text-align: center;
}

#errorMessage {
    color: #FF99AA;
    font-size: 1em;
    font-weight: bold;
    padding: .1em;
    text-align: center;
}

.textArea {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: .1em;
}

#title {
    padding-top: 70px;
}

#formArea {
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 24em;
}

#guessInput {
    margin-bottom: .5em;
    margin-top: .5em;
    width: 95%;
}

#guessBtn {
    margin: .5em 0 0 0;
    width: 95%;
}