/* SHAPES */

.diamond {
    height: 37em;
    opacity: 0.6;
    transform: rotate(45deg);
    transform-origin: 20em 5em;
    width: 37em;
    z-index: -10;
}

.circle {
    position: fixed;
    bottom: -15em;
    border-radius: 50%;
    height: 42em;
    opacity: 0.6;
    right: -10em;
    width: 42em;
    z-index: 0;
}


/* SHAPE COLORS */

#blueShape {
  background-color: #0542B9;
}

#greenShape {
  background-color: #0542B9;
}

#redShape {
  background-color: #C60929;
}

#purpleShape {
  background-color: #25076B;
}

@media only screen and (max-width: 991.98px) {
    .diamond {
        height: 35em;
        width: 35em;
    }

    .circle {
        height: 38em;
        width: 38em;
    }
 }

@media only screen and (max-width: 767.98px) { 
    .diamond {
        height: 28em;
        width: 28em;
    }

    .circle {
        height: 36em;
        width: 36em;
    }
}

@media only screen and (max-width: 575.98px) {
    .diamond {
        height: 19em !important;
        transform-origin: 10em 2em;
        width: 19em !important;
    }

    .circle {
        bottom: -8em;
        height: 26em !important;
        right: -8em;
        width: 26em !important;
    }
 }
