html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Roboto Condensed', Roboto, Oxygen, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainContent {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 6em 0 0 0;
}

.mainTitle {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 70px;
    padding-top: 110px;
    text-align: center;
}

.guessDisplay {
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  left: 7vw;
  top: 10vw;
}

.green {
  color: #66BF39;
}

.red {
  color: #FF3355;
}


@media only screen and (max-width: 849.98px) {
  .mainContent {
    display: block;
  }

  .alignCenter {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (max-width: 767.98px) {
    .mainTitle {
        font-size: 50px;
    }

    .guessDisplay {
      top: 5.5em;
    }
}

@media only screen and (max-width: 575.98px) {
    .mainTitle {
        font-size: 40px;
    }

    .guessDisplay {
      top: 5em;
    }
 }