/* BACKGROUNDS */

#blueBackground {
  background-color: #1368CE;
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#greenBackground {
  background-color: #26890C;
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#redBackground {
  background-color: #E21B3C;
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#purpleBackground {
  background-color: #46178F;
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

/* BACKGROUND AREA */

#backgroundArea {
  min-height: 100vh;
  position: absolute;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  z-index: -10;
}

/* CONTENT AREA */

#contentArea {
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 991.98px) {
  /* BACKGROUNDS */

  #blueBackground {
    height: 120vh;
  }

  #greenBackground {
    height: 120vh;
  }

  #redBackground {
    height: 120vh;
  }

  #purpleBackground {
    height: 120vh;
  }

  /* BACKGROUND AREA */

  #backgroundArea {
    height: 120vh;
  }
}

@media only screen and (max-width: 767.98px) { 
  /* BACKGROUNDS */
  #blueBackground {
    height: 125vh;
  }

  #greenBackground {
    height: 125vh;
  }
  #redBackground {
    height: 125vh;
  }

  #purpleBackground {
    height: 125vh;
  }

  /* BACKGROUND AREA */
  #backgroundArea {
    height: 125vh;
  }
}

@media only screen and (max-width: 575.98px) {
  /* BACKGROUNDS */
  #blueBackground {
    height: 123vh;
  }

  #greenBackground {
    height: 123vh;
  }

  #redBackground {
    height: 123vh;
  }

  #purpleBackground {
    height: 123vh;
  }

  /* BACKGROUND AREA */
  #backgroundArea {
    height: 123vh;
  }
}
